[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
jedi = "*"
rope="*"
pydocstyle="*"

[packages]
future = "*"
jupyter = "*"
matplotlib = "*"
numpy = ">=1.11"
pandas = "*"
scipy = ">=0.18"
scikit-learn = "*"
tensorflow = ">=1.0"
Keras = "*"

[requires]
python_version = "3.7"
